node_modules
log/
.DS_Store
.idea
/output
*.swp
/coverage
packages/*/build
packages/*/lib
packages/*/es
packages/*/.bundle-analyzer
packages/*/tmp
.rpt2_cache
/packages/electron-sdk/dist/
/packages/electron-sdk/API/
#idea 本地项目配置文件
slardar.iml
a_wqy_test
yarn-error.log
tmp
.alchemist
!/packages/electron/sdk/dist/

.serverless/
.deploy/
/packages/electron/sdk/dist/
.locales/*
dev_locales
.devoutput
